.container {
  cursor: pointer;
  border: none;
  background: none;
  align-items: center;
  display: flex;
  gap: 12px;
  border-radius: 124px;
  padding: 2px;
  justify-content: center;
  border: 1px solid transparent
}

.outline{
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 124px;
  padding: 16px 32px;
  border: 1px solid #8BC7FF
}

.title {
  margin-left: 30px;
  font-size: 16.04px;
  font-weight: 700;
  line-height: 19.41px;
  color: #FFFFFF
}

.outlineTitle {
  font-family: Inter;
  font-size: 16.04px;
  font-weight: 400;
  line-height: 19.41px;
}

.icon {
  display: block;
  width: 46px;
  height: 46px;
}